<html>
	<head>
		<title>Simple Formatter</title>
        {% load static from staticfiles %}
        <script src="{% static 'simpleformatter/js/main-page.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'simpleformatter/css/main-page.css' %}" />
	</head>
	<body>
		<h1>Enter some text</h1>
		<form action="/format-text/" method="POST">

            <label for="json">JSON</label>
            <input id="json" type="radio" name="textformat" value="json" checked="true" onclick="onFormatSelect()">

            <label for="xml">XML</label>
            <input id="xml" type="radio" name="textformat" value="xml" onclick="onFormatSelect()">

            <label for="html">HTML</label>
            <input id="html" type="radio" name="textformat" value="html" onclick="onFormatSelect()">
            <br>
			<textarea id="text" name="text" rows="20" cols="55"></textarea><br>

            <div id="identation-wrapper">
                <label for="indentation">Indentation:</label>
                <br>
                <select name="indentation" id="indentation">
                    <option value="2">2 spaces</option>
                    <option value="3" selected="true">3 spaces</option>
                    <option value="4">4 spaces</option>
                    <option value="0" id="remove-formatting">Remove Formatting</option>
                </select>
            </div>
            <br>
			<input type="submit" value="Submit" />
		</form>
	</body>
</html>